{% load static socialaccount %}
{% get_providers as socialaccount_providers %}  {# <-- this line populates the list #}

<ul class="socialaccount_providers">
  {% for provider in socialaccount_providers %}
    {% if provider.id == "google" %}
      <li class="google">
        <a href="{% provider_login_url 'google' process=process %}">
          <img class="social-icon" src="{% static 'images/google.svg' %}" alt="Google"> Continue with Google
        </a>
      </li>
    {% elif provider.id == "facebook" %}
      <li class="facebook">
        <a href="{% provider_login_url 'facebook' process=process %}">
          <img class="social-icon" src="{% static 'images/facebook.svg' %}" alt="Facebook"> Continue with Facebook
        </a>
      </li>
    {% else %}
      <li>
        <a href="{% provider_login_url provider.id process=process %}">
          {{ provider.name }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>


