{# templates/poetry/poem_list.html #}
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/poetry.css' %}?v={% now 'U' %}">
{% endblock %}

{% block content %}
  {% comment %}
    This page now just includes the partial.
    All the logic is in _poem_list_section.html
  {% endcomment %}
  {% include "poetry/_poem_list_section.html" %}
{% endblock %}

{% block full_width_banner %}
<div class="quote-banner-fw banner-tuck">
  {% include "poetry/_quote_banner.html" with theme="banner--red" %}
</div>
{% endblock full_width_banner %}


{% block extras %}
<script src="{% static 'js/quote_banner.js' %}"></script>

{% endblock %}