{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}?v={% now 'U' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 about-page">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/nobody.jpg' %}" class="profile-image" alt="{{ about.title }}">
            {% else %}
                <img src="{{ about.profile_image.url }}" class="profile-image" alt="{{ about.title }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>

    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-12 text-center">
            <a href="{% url 'profile_list' %}" class="btn btn-signup btn-lg">
                View All Collaborator Profiles
            </a>
        </div>
    </div>

    <!-- START CONDITIONAL COLLABORATION FORM -->
    {% if collaborate_form %}
    <div class="login-page collab-page">
        <div class="login-card">
            <h2 class="login-title">Let's collaborate!</h2>
            <p class="login-subtitle">
                I believe in the power of shared knowledge and collective effort.
                Whether you have a project in mind, wish to co-author
                an article, or simply want to brainstorm some ideas,
                I'm excited to hear from you. Fill out the form
                and we can get the ball rolling!
            </p>

            <form method="post">
                {% csrf_token %}
                {{ collaborate_form | crispy }}
                <button class="btn btn-signup btn-lg" type="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    <!-- END CONDITIONAL BLOCK -->
</div>
{% endblock content %}
